.edit-form {
    position: relative;
    max-width: 430px;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    background-color: #FFFFFF;
    }

    @media screen and (max-width: 320px) {
        .edit-form {
            max-width: 282px;
            width: 100%;
            align-items: center;
            
        }
    }