.overlay-form_open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: 1s;
}

@media screen and (max-width: 320px) {
  .overlay-form {
    max-width: 320px;
    width: 100%;
  }
}