.kusto__subtitle {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: white;
    margin-top: 16px;
    
  }

  @media screen and (max-width: 320px) {
    .kusto__subtitle {
      font-weight: 400;
      font-size: 14px;
      line-height: 16.94px;
      color: white;
      margin-top: 16px;
      text-align: center;
    }
}